.DS_Store
*.xcuserstate
*.xcuserdatad
Ponchi.xcodeproj/project.xcworkspace/xcuserdata/
Ponchi.xcworkspace/xcuserdata/
Ponchi/Utilites/Preview /
Ponchi/Utilites/Preview/
Pods/
ponchi-functions/*.zip
Ponchi-clean/
.DS_Store
supabase/.branches/
supabase/.temp/
supabase/.env
supabase/.env.*
supabase/functions/.env
supabase/functions/.env.*
